[2018-12-24 14:53] Skquark opened #2 "Made small updates, might want to use it"
Great alert dialog, just what I was hoping someone would make since I was bored with the standard material dialog that I just couldn't customize enough.  I hacked a few changes that I needed for my usage, and it's simple enough to offer in the next version.. I needed a general widget content option to provide my own form fields in the popup for small entry like a dropdown or input text.  Really ea

[2018-12-25 10:07] ibrahimdevs commented on #2
@Skquark Thank you for the great contribution and fix. We will add the custom content feature, fix the image issue . And easier way of creating Alert Buttons will available next release ( V1.0.2 ) in a few days.

We are always welcome to new ideas and even bugs 👍

[2018-12-25 10:07] #2 closed

[2018-12-25 11:19] Skquark commented on #2
Good stuff, thanks.  I was fine-tuning the look of mine a little more, and ran into another missing parameter that needed to be exposed.  Another easy one, changing the background color and elevation.  Here's my simple adds to AlertStyle:
`  final Color backgroundColor;`
`  final double elevation;`
then in _buildDialog AlertDialog(
`      backgroundColor: style.backgroundColor,`
`      elevation:

[2018-12-25 14:17] ibrahimdevs commented on #2
@Skquark Have you tried your backgroundColor and elevation changes? If you tried, can you share your code? Because we are not sure what is the best practice of changing the background color. And we didn't set any shadow, so we don't know how to change shadow?
Thanks,

[2018-12-26 14:05] Skquark commented on #2
No problem.. It's part of the AlertDialog that you're already using, so was very convenient, waiting to be used.  Here's where I put that code:
[code]
That simple.  It's alright when it's null too, just goes to the default when it is.
Just got your latest update.... Thumbs up.  Thanks for your work, great addition to the Flutter ui..

[2018-12-29 10:04] Skquark commented on #2
I've got another minor suggestion if you don't mind me offering.. I was building an Alert with AlertType.none and I expected to see the title all the way on the top, but there was a lot of padding there, just didn't look right.  Tracked it down easily, here's what I changed in _buildDialog:
[code]
There was a lot of top padding from the Close button too, but I just set isCloseButton: false and it

[2019-01-12 07:47] yuanchen1 opened #3 "右上角的关闭图标点击以后会跳转到上一个页面 这个怎么解决"
右上角的关闭图标点击以后会跳转到上一个页面  这个怎么解决

[2019-01-18 14:46] fadhly-permata opened #4 "Whole Background Color"
Hi, thank you very much for your plugin,

I have an issue for the background color. I am using customized (copied from) dark theme (which configured into dark purple and white color for whole application text style).

But, the implemented background color on the dialog seems not to work well, the background color just showing gray color and for the text color is black.

I can change the text color

[2019-01-18 16:58] fadhly-permata opened #5 "Responsive Capability"
Hi Team, it's me again.

It may dumb question.

My `image` height is `338x338 pixel`. on Nexus 5x device with portrait orientation, the dialog runs perfectly. But, when the orientation rotated to landscape mode, the `content` become overflowed.

So how to make the dialog support scrollable content?

Thank you very much

**Portrait Mode**
![screenshot_1547830237](https://user-images.githubuserconte

[2019-01-18 18:19] fadhly-permata commented on #5
Sorry my bad, I am so dumb not researching before asking. Thank you

[2019-01-18 18:19] #5 closed

[2019-01-21 03:56] fadhly-permata commented on #4
I have solved this, by changing `dialogBackgroundColor` into my specific color.

[2019-01-21 03:56] #4 closed

[2019-01-21 23:19] fadhly-permata opened #6 "Invalid Buttons position"
Hi, it's me again.

I have found weird view when using the alert as a form entry. The footer button position becomes weird when the virtual keyboard popping up.

Can you explain how to fix this situation?

Thank you very much

----

**Normal View**
![screenshot_1548112456](https://user-images.githubusercontent.com/8925077/51503397-5de1d480-1e0d-11e9-8383-9af21cad1535.png)

**Weird View when virtua

[2019-03-16 00:00] eduardmo opened #7 "Don't close the Alert when tap outside of it"
I want to close the Alert only by pressing the button. Is there a way to achieve this?

[2019-03-16 00:01] #7 closed

[2019-04-09 20:04] rasmuschristensen opened #8 "option to auto dismiss with a duration?"
Hi, great component.
Is there a way to have the alert auto-dismiss after a duration of time? If I set the Buttons to [] I get a an alert with no buttons. I want to use it to inform the user but avoid the user to do any interaction.

[2019-04-13 21:18] senkwe opened #9 "Custom size?"
Does this improve on Flutters AlertDialog by allowing developers to create custom sized dialogs?

[2019-04-15 05:48] harshalonerooftech commented on #7
add this attribute in Alert

[code]

[2019-05-06 08:46] ValeriusGC opened #11 "How update Alert?"
Hi, if I place smth like Checkbox inside and wanna update it, how i can do this?
This approach does not work:
[code]

[2019-05-07 04:35] #11 closed

[2019-05-07 04:36] ValeriusGC commented on #11
With StreamBuilder, as variant )

[2019-05-13 03:23] joaquinperaza commented on #11
Can you explain? thanks!

[2019-05-16 06:07] iNima opened #12 "Control the width of the dialog in landscape mode"
Hi there,
Is it possible to control the size of the alert dialog (particularly width of it) in landscape mode?
Currently, it stretches a lot and it does not look normal in landscape mode and on tablets (iPad for example).
I'd like to be able to set the max width.
Other solution could be automatically showing the dialog box in a normal size without stretching.

[2019-05-20 14:11] joaquinperaza opened #13 "Return value from widget content"
I am trying to return a value from a dropdown inside alert but is not possible, neither read it on parent nor self update the dropdown widget value.
[code]

[2019-05-26 23:46] yossefEl opened #14 "More Animations"
Hi thank you so much for this awesome package but can you please add more animations or just add the option of custom animations because the actual one even if it is good but it is not smooth and interactive..
Thanks in advance !

[2019-05-27 00:34] ibrahimdevs commented on #3
Hi, can you send your issue in English? Maybe we can help you this way.
Thanks,

[2019-06-01 17:50] fabiom91 commented on #4
Hi, I have the same issue, can you explain better your solution?

[2019-06-03 15:02] xhidnoda commented on #8
Hi...you can do that:

`Alert(
        context: context,
        type: AlertType.info,
        title: title,
        desc: desc,
        buttons: [],
      ).show();`

and...

`new Future.delayed(new Duration(seconds: 3), () {
        Navigator.pop(context);
      });`

Hope this help you... i testing and it works.

[2019-06-03 20:54] yossefEl opened #15 "EXCEPTION CAUGHT BY GESTURE"
The following assertion was thrown while handling a gesture:
I/flutter (11024): 'package:flutter/src/material/checkbox.dart': Failed assertion: line 65 pos 15: 'tristate || value
I/flutter (11024): != null': is not true.
I/flutter (11024): Either the assertion indicates an error in the framework itself, or we should provide substantially
I/flutter (11024): more information in this error message to

[2019-06-04 21:00] JobMoll opened #16 "More then 3 button"
Hey, how can i put the button under each other instead of next to each other?

It automatically puts all the button next to each other but that looks ugly when you have to many of them.

Thanks!

[2019-06-04 21:47] job-46 commented on #16
Found a way to do it

[2019-06-04 21:47] #16 closed

[2019-06-07 13:25] piladzisi commented on #4
return MaterialApp(
      theme: ThemeData.dark().copyWith(
        dialogBackgroundColor: Colors.white,
      ),

[2019-06-08 02:50] raindy29 commented on #3
click close icon back current page,can't close dialog.
Can be changed Widget _getCloseButton()
Navigator.of(context, rootNavigator: true).pop('dialog'),

[2019-06-22 13:55] kw2019ltd opened #17 "pls add support to return value boolean like flutter show dialog"
pls add support to return value boolean  like flutter show dialog

[2019-06-30 22:12] chrisgate commented on #5
@fadhly-permata You could tell how u do it to help others too...........Thanks

[2019-07-01 01:53] Stef-GMS opened #18 "Please add background opacity option"
I love the rflutter_alert package, but would like to have an option to change the background opacity.  As you can see from the attached, the black background is covering the contents beneath so much one cannot see it.  Having a way to change the opacity would help with this.  It would give the developer the ability to change it so that it either blocks or shows the contents beneath.
<img width="25

[2019-07-01 02:03] Stef-GMS commented on #18
Never mind.  I found this works.
`overlayColor: Colors.black12,`

[2019-07-01 02:03] #18 closed

[2019-07-02 14:58] paltimoz commented on #14
Thank you for your advice. We'll add it to our package as soon as possible.

[2019-07-02 15:11] paltimoz commented on #8
@xhidnoda  Thank you for this reply. @rasmuschristensen  you can use the solution above.

[2019-07-02 15:11] #8 closed

[2019-07-02 15:13] paltimoz commented on #6
Problem solved by adding SingleChildScrollView statement.

<img width="439" alt="Ekran Resmi 2019-07-02 16 42 53" src="https://user-images.githubusercontent.com/5119969/60524327-049f9a80-9cf5-11e9-9b68-86a1ecc06dab.png">

[2019-07-02 15:13] #6 closed

[2019-07-02 15:15] paltimoz commented on #3
We added close callback function, so @yuanchen1 you can use the @raindy29 's solution

[2019-07-02 15:15] #3 closed

[2019-07-02 15:24] paltimoz commented on #17
Added Future promise for showDialog. You can use it below:
[code]

[2019-07-02 15:24] #17 closed

[2019-07-02 15:25] paltimoz commented on #12
We added constraint in AlertStyle.

[code]

[2019-07-02 15:25] #12 closed

[2019-07-02 15:28] paltimoz commented on #9
Solved by #12

[2019-07-02 15:28] #9 closed

[2019-07-29 06:22] xumengqiang opened #19 "全局的背景阴影亮度怎么调"
全局的背景阴影亮度怎么调

[2019-08-03 13:38] premtemp1 opened #20 "alert does not close .. pop the underlying page"
Hello,
  My alert box does not close.. When I press the button the page under the dialog is pop but the dialog remain on the screen.

This is issue in a Cupertino tab child page

here is an example

[code]

[code]

[code]

[2019-08-09 07:52] avatechhkdev commented on #20
same issue

[2019-08-09 08:06] GanZhiXiong opened #21 "I want to change title dynamically, how do I use setState?"

[2019-08-19 14:11] krishnaaro commented on #20
i'm facing too .....any update in this issue ....????

[2019-08-21 22:00] searchy2 opened #23 "Shadow Clipped"
Dialog's shadows are clipped.
![MaxthonSnap20190821164644](https://user-images.githubusercontent.com/19896174/63471546-166c0700-c435-11e9-952a-62d4dd41c82d.png)
Any way to fix the issue?

[2019-08-21 22:48] rayliverified commented on #23
Fixed in PR #24
SingleChildScrollView to support dialog content scrolling should be provided by user.

[2019-08-23 00:54] raindy29 opened #25 "close callback suggest"
child: InkWell(
                    onTap: () {
                      if (closeFunction == null){
                        Navigator.pop(context);
                      }else{
                        closeFunction();
                      }

[2019-08-29 14:16] frey1esm commented on #18
@Stef-GMS  how is `overlayColor` used exactly?

[2019-08-29 16:19] Stef-GMS commented on #18
overlayColor is added to the AlertStyle.  Below is a code snippet and I'm attaching screenshot examples.
`Alert(
          context: context,
          type: AlertType.success,
          style: AlertStyle(
            animationType: AnimationType.grow,
            isCloseButton: false,
            isOverlayTapDismiss: false,
            overlayColor: Colors.black45, //no number is solid; higher num

[2019-09-06 17:50] Hauraky opened #26 "Update RadioButton & setState"
I am trying to set a RadioList inside alert, I use the setState() to update alert how below reported.

How can I update the alert?

My Code:
Column(
              children: <Widget>[
new RadioListTile<int>(
                    title: new Text('Accessibile'),
                    value: 1,
                    groupValue: radioValue,
                    onChanged: handleRadioValueChange),
new othersR

[2019-09-10 05:05] tomg2012 commented on #20
I read somewhere that we should be using Navigator.of(context).pop(), but that only works randomly. One build would work fine, then another would exhibit this problem. The problem would happen by clicking the X at the corner of the alert, or clicking a dialog button with Navigator.of(context).pop().  As the poster said, the underlying page pops, and the dialog stays. But I was always able to clear

[2019-09-21 10:04] mahmoudsalah37 opened #27 "support web"
i hope this package will support web soon

[2019-09-22 08:45] hiniesta opened #28 "It is possible to close an alert dynamically"
First at all, grat job!
I will like to close an alert via a timeout function. It is posible?

[2019-09-26 04:36] SachinGanesh commented on #20
Instead of `Navigator.pop(context)` use `Navigator.of(context, rootNavigator: true).pop()`

The solution is explained [here](https://stackoverflow.com/a/50683571/8059845)

[2019-10-03 03:42] muhammadsaddamnur opened #29 "How to implement barrierDismissible ?"
How to implement barrierDismissible ?

[2019-10-03 03:43] #29 closed

[2019-10-07 11:57] valavanisleonidas opened #31 "Overlay Tap Dismiss works only in up and down area of the screen"
I have an alert with overlayTapDismiss:true but when clicking on the left or right sides of the alert it does not do anything. However it works when I click below or above the area. I guess it is a bug ? Not sure if this is a bug or it is how it is supposed to work

[2019-10-16 23:03] dungnv2602 opened #32 "Inconsistent 'image' input param with what actually expected"
Dive into your code, I found out this:
- In input param you expect the input to be Image:
![take_02](https://user-images.githubusercontent.com/19910775/66965313-6cf76980-f0a3-11e9-800c-af584eed4652.png)
- but down below your method:
![take_01](https://user-images.githubusercontent.com/19910775/66965333-7d0f4900-f0a3-11e9-8b8b-aba605c328c5.png)
You cast in back to Widget, so I guess you actually ex

[2019-10-22 05:22] RafikFarhad commented on #28
This feature will be awesome for this awesome package.

[2019-10-22 05:34] RafikFarhad commented on #28
@hiniesta
You can achieve this by the following code snippet.

[code]

[2019-10-22 09:21] tony123S opened #33 "Remove Cancel button"
I modify the code to this

[code]

So now it suppose to have only two buttons displayed vertically in the dialog, but instead it displaying three (one is the Cancel button). How can I remove the Cancel button ?

[2019-10-22 09:39] #33 closed

[2019-10-29 11:33] lumenier1 opened #34 "dialog box shadow setup ability"
Currently there is no option to configure or disable dialog box shadow in contrast to elevation for `AlertDialog` widget.

[2019-11-04 09:42] ABINASH56 opened #35 "How can I change color of the button"
I want to change color of the button .BUT I DON'T KNOW HOW TO DO THIS?

NEED HELP

WHENEVER  I CLICK ON BUTTON IT DOES NOT WORK [I mean it should take me to browser but it is not working]

How can I solve these  errors?

[2019-11-23 12:49] byteslaves commented on #26
心累，我也遇到这个问题了

[2019-11-23 13:53] byteslaves commented on #26
解决了。基础不好坑死了！！！
参考：https://www.jianshu.com/p/8f81c98f08dd

[2019-11-28 10:25] SteamGorilla opened #38 "Add the possibility to remove the Cancel Button"
Please add the choice of keeping or not the cancel button

[2019-12-01 21:35] engmhmoud commented on #38
with you

[2019-12-15 14:06] shahidbits opened #39 "Very poor documentation. (-5 stars)"
The package is really waste of time. There is no helpful documentation. This package is simply wasytage of time and efforts.

[2020-01-03 23:31] cloakedindeath commented on #38
I would also like to be able to not use the close button.

It does work the way it is supposed to but I have a model progress hud going and I can't seem to stop it when pressing the close button.

Works fine with my custom button.

[2020-01-11 12:31] kapilnarula opened #41 "Alert Button should get disabled once it is clicked"
When a button in the Alert Box is clicked, all buttons in the alert box should get disabled till the time the server responds for the initial click

[2020-01-13 21:27] duynguyen0511 opened #42 "unable to load asset"
The following assertion was thrown resolving an image codec:
Unable to load asset: packages/rflutter_alert/assets/images/close.png

When the exception was thrown, this was the stack:
#0      PlatformAssetBundle.load (package:flutter/src/services/asset_bundle.dart:221:7)
<asynchronous suspension>
#1      AssetBundleImageProvider._loadAsync (package:flutter/src/painting/image_provider.dart:484:44)
#

[2020-01-15 04:32] BoniWPy commented on #35
i faced same problem..

[2020-01-15 10:40] oividioscaeremos commented on #20
But how to change this? I'm giving Sachin's solution to the `closeFunction` parameter but deep down it also pops the background...

[2020-01-17 16:39] aliaboshady123 opened #44 "Option to not close when I press outside the alert dialog"
Hey, I'd like to make an alert dialog which has a progress spinner while the next page loads. So, I put the content to be the spinner, and made the button invisible and not working.
Now, I would like that if I tap outside the alert dialog, it doesn't close (pop).
Like a bool parameter to set the option.
Thanks.

[2020-01-21 08:40] cwe1ss commented on #39
Very poor issue (- 5 stars)

The issue is really waste of time. There is no helpful content in this issue. This issue is simply wasytage of time and efforts.

PS: I'm not involved in this project but comments like yours really frustrate OSS authors who put their free time and heart into projects like this so that others can benefit from it without having to pay anything for it.

[2020-01-23 16:15] ibrahimdevs commented on #39
@cwe1ss thank you very much for your response and empathy. We have no time for this project lately, but we will improve it soon. And we always appreciate to extra help.

[2020-01-23 16:15] #39 closed

[2020-01-25 01:39] Samar777 opened #45 "Arabic input does'nt work"
Arabic input doesn't work in TextFormField inside the alert.

[2020-01-28 19:34] gbogarinb commented on #20
You have to modify the alert.dart file inside _getCloseButton.

[2020-01-28 19:39] gbogarinb commented on #20
This is the method fixed.

[code]

[2020-02-01 04:17] va0000ll commented on #45
You can wrap it in `Directionality` , this is an example of what I did , hope it help you:

     Directionality(
            textDirection: TextDirection.rtl,
            child: TextField(
              minLines: 3,
              maxLines: 8,
              style: TextStyle(color: Theme.of(context).primaryColor),
              decoration: InputDecoration(
                labelText: 'كلام عربي',

[2020-02-01 04:19] va0000ll commented on #28
Does not work for me ... it just pop up my in my app route and Alert still there .

[2020-02-01 04:30] va0000ll commented on #44
Use `isOverlayTapDismiss` here is an example

     var alertStyle AlertStyle(
      isOverlayTapDismiss: true,
      ......
     );

Look here for more examples : https://pub.dev/packages/rflutter_alert

[2020-02-01 07:34] Samar777 commented on #45
شكرا

[2020-02-03 12:13] ulrichmabou commented on #42
I wanted to report the same issue; found this one was already open. I think it's because the 'close' icon was implemented using an **AssetImage**; it could be implemented with **Icons.close** instead.

---------------------------------------------------------------------------------------
════════ Exception caught by image resource service ════════════════════════════════════════════════
The follo

[2020-02-12 18:19] RandersonThallys opened #46 "Exceção não fatal: java.lang.Exception NoSuchMethodError: O método 'call' foi chamado em nulo. Receptor: nulo Tentativa de chamada: call () Alert._getCloseButton."
Estou enfrentando esse erro não fatal no flutter, mas pesquisei mas não achei nada que possa ser solucionado.

[√] Flutter (Canal estável, v1.12.13 + hotfix.7, no Microsoft Windows [Versão 10.0.18362.592], localidade pt-BR)
• Flutter versão 1.12.13 + hotfix.7 em C: \ src \ flutter
• Framework revisão 9f5ff23 (2 semanas atrás), 2020-01-26 22:38:26 -0800
• Revisão do mecanismo a67792536c
• Versão do

[2020-02-13 00:27] jasonlaw commented on #46
You need to provide a callback to closeFunction.
Do this if nothing to be done:
closeFunction: () {}

Please see #43

[2020-02-19 08:50] hawkiq opened #47 "RadioButton & setState"
am implementing Radio buttons group and trying to change their state, in background its changed and got the new values but there i no change in Alert its like freeze on same state when I opened the Alert
[code]

[2020-02-21 04:08] gaoyong06 commented on #35
`DialogButton(
                        color:Colors.red,
                        onPressed: () => Navigator.pop(context),
                        child: Text(
                          "done!",
                          style: TextStyle(color: Colors.white, fontSize: 20),
                        ),
                      ),`

[2020-02-21 07:31] gaoyong06 commented on #38
with you

[2020-02-27 02:10] jasonlaw commented on #31
Same problem here

[2020-03-03 13:07] kartzhai opened #48 "Alert Position on Bottom Screen?"
is it possible to pop up the alert on Top or Bottom Screen?

Thank you

[2020-03-09 11:14] alijaber99999 opened #49 "The alert is closing the current context entirely and not the alert it self that stays"
import 'dart:async';
import 'dart:io';

import 'package:cached_network_image/cached_network_image.dart';
import 'package:cloud_firestore/cloud_firestore.dart';
import 'package:edupass/ChatPart/fullPhoto.dart';
import 'package:firebase_storage/firebase_storage.dart';
import 'package:flutter/material.dart';
import 'package:flutter_slidable/flutter_slidable.dart';
import 'package:fluttertoast/flutter

[2020-03-10 09:36] HugoHeneault commented on #49
Duplicate of https://github.com/RatelHub/rflutter_alert/issues/20

[2020-03-10 09:48] HugoHeneault commented on #28
See https://github.com/RatelHub/rflutter_alert/issues/20 :)

[2020-03-16 13:42] doganozan commented on #42
i have had same issue but i have solved it .My problem was in the pubspec.yaml i used wrong indentation it should be like this

flutter:
[2 whitespaces]assets:
[4 whitespaces ]- images/close.png

[2020-03-23 05:28] cmaccarone commented on #20
Tried above solutions still not working for me.

[2020-03-27 21:48] thealiflab commented on #38
Hold ctrl/command and click on the **alert** widget. In alert.dart file, scroll down to bottom of the file and Here you can see that Expanded widget of **cancel** . Remove it or comment it out. Hopefully it will solves your problem.

[2020-04-04 18:01] amiltonsoares opened #52 "Back button cannot close Alert"
In some situations we need an Alert for decision making, that is, the user has to choose an option. In this case, it is necessary to deal with the action of the back button. I can do this using WillPopScope + AlertDialog, but I would really like to use the facilities of this component.

[2020-04-12 18:41] znha commented on #38
Alert(
        context: context,
        title: "some title",
        buttons: [],
        ).show();

setting buttons: as an empty array will remove the cancel button

[2020-04-14 19:22] khairu-aqsara commented on #20
this is working for me.

[2020-04-24 11:08] PandaProgParis opened #54 "Add TextAlign for title and description"
Hello !!
First, thank you for you work.

Second, please, could you add the possibility to change the TextAlign of the title and description ?
I made the code below in the **alert.dart** file.

Thank you :)

[code]

[2020-04-26 09:34] baxterhemingway commented on #42
Same, doesnt seem to be working here either.
I notice that it searches for assets/images, which is available in git but not on my local package which flutter installed for me.

Are we supposed to manually download these?

[2020-04-27 12:38] AdelMahmoudHussein opened #55 "images in alert box does not appear"
Unable to load asset: packages/rflutter_alert/assets/images/close.png
Unable to load asset: packages/rflutter_alert/assets/images/ic
![001](https://user-images.githubusercontent.com/34385917/80372981-ab60b300-8894-11ea-9560-72315029667e.png)
![002](https://user-images.githubusercontent.com/34385917/80372986-ac91e000-8894-11ea-8633-4c7f99630103.png)
![003](https://user-images.githubusercontent.com/

[2020-05-12 15:56] dcarriola commented on #48
I would also like this, to make it look like an action sheet. Is it possible? should it be coded?

[2020-05-14 10:10] hassan1709 opened #56 "The method 'call' was called on null."
**When pressing the close button (the x on top right corner) it does shows the following Exception on console although all seems to work ok on the screen:**

════════ Exception caught by gesture ═══════════════════════════════════════════════════════════════
The following NoSuchMethodError was thrown while handling a gesture:
The method 'call' was called on null.
Receiver: null
Tried calling: call

[2020-05-14 10:26] hassan1709 commented on #56
I found out that you just need to set "closeFunction". Maybe just update your Readme or your how to use.

Thank you anyways, it's a great package.

[2020-05-16 05:57] tengfone commented on #42
I have faced the same issue, but base on @doganozan solution, i can assure that by placing the flutter:
[2space]assets:
[4space]- images/close.png

works

EDIT:
Does not work after doing a full restart, previously i just performed a hot restart
![Screenshot 2020-05-16 at 2 17 29 PM](https://user-images.githubusercontent.com/20770447/82112489-03962100-9780-11ea-8d72-b98194ea065f.png)

[2020-05-16 06:45] yalva commented on #55
This is happening if we just do hot reload after pub get, if we stop and full relaunch its working fine.

[2020-05-16 12:20] g-chandran opened #57 "PopUp does not show"
E/flutter (13931): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: NoSuchMethodError: The getter 'modalBarrierDismissLabel' was called on null.
E/flutter (13931): Receiver: null
E/flutter (13931): Tried calling: modalBarrierDismissLabel
E/flutter (13931): #0      Object.noSuchMethod  (dart:core-patch/object_patch.dart:53:5)
E/flutter (13931): #1      Alert.show  (package:rflutter

[2020-05-19 11:12] Spiderbezno opened #58 "Add border to dialogbuttons"
Is it possible to add borders to dialog buttons??

[2020-05-30 20:24] asharayub50 opened #59 "Change color of alert icon"
I have managed to customize almost everything except this. Please tell me how to change the icon of the alert.

[2020-05-31 01:32] hosamn opened #60 "Exception regarding assets."
# Running this After standard installation:

Alert(context: context, title: "RFLUTTER", desc: "Flutter is awesome.").show();

# Gives:

Exception has occurred.
FlutterError (Unable to load asset: packages/rflutter_alert/assets/images/3.0x/close.png)

[2020-05-31 01:35] hosamn commented on #60
# Dependencies aft installation:
![Screenshot (9)](https://user-images.githubusercontent.com/34396668/83342436-bec9c880-a2ef-11ea-804a-76cd5b7bd5be.png)

[2020-05-31 02:49] hosamn commented on #60
OK.. running

in the working directory fixed this.

[2020-05-31 02:49] #60 closed

[2020-06-02 01:41] ashishsoni commented on #56
@hassan1709 how do you do that .. can you given and example

[2020-06-11 07:38] mash6699 commented on #20
Try with:

myFunction () async {
    try {
      Navigator.pop(context);
      Navigator.of(context).pop();
    }catch(e){
      print(e);
    }
  }

[2020-06-13 21:43] tareeko commented on #52
This would be great!

[2020-06-24 08:00] huseyinyildirimcom opened #61 "Works but there is an error on console"
The following NoSuchMethodError was thrown while handling a gesture:
The method 'call' was called on null.
Receiver: null
Tried calling: call()

When the exception was thrown, this was the stack:
#0      Object.noSuchMethod (dart:core-patch/object_patch.dart:53:5)
#1      Alert._getCloseButton.<anonymous closure> (package:rflutter_alert/src/alert.dart:166:36)
#2      _InkResponseState._handleTap (

[2020-06-26 21:44] robcunha commented on #38
I had the same problem! I edited the Alert class to remove the close button and improve Alert top padding.

[2020-06-26 22:33] robcunha commented on #26
I wrapped the contet property of Alert in a StatefulBuilder widget.
This widget has a method StateSetter that i called _setState. I passed that method to the RadioListTile. So, is jus call _setState((){
});
instead
setState((){
});
Therefore, the content of alert will be updated and the radiobox, checked!

[2020-06-26 22:40] robcunha commented on #47
I wrapped the content property of Alert in a StatefulBuilder widget.
This widget has a method StateSetter that i called _newState_. I passed that method to the RadioListTile. So, is just call
[code]
instead
[code]
Therefore, the content of alert will be updated and the radiobox, checked!

My code

[code]

[2020-06-26 22:47] robcunha commented on #13
try wrap the content in a StatefulBuilder.

Look #47

[2020-07-14 03:26] YouSour commented on #48
i need this too , we can adjust position alert 😄  anywhere we want (example : top , center , bottom) , i'm waiting ..

[2020-07-16 21:30] angrbrd commented on #42
Ran into the same thing, linking to git inside pubspec.yaml like below worked for me.

[code]

[2020-08-02 08:01] FarsFuad opened #63 "Using Navigator.pop(context); is so glitch"
Alert(
        context: this.context,
        title: '',
        image: Image.asset(
          "images/OrderCanceled.png",
          color: Color(0xffd25555),
        ),
        buttons: []).show();
    Timer(Duration(milliseconds: 1500), () {
      Navigator.pop(context);
      Navigator.pop(context);
      Navigator.pop(context);
    });

when i try to use pop on this wight , it works in other s

[2020-08-03 17:56] frederikw03 opened #64 "Row wont work"
When i have a text field and an icon in a row instead of the Column, the screen is just grayed out? what can i do to fix this
this wont work

`
                        Alert(

                        context: context,
                        title: "Tilføj en spiller",
                        content: Row(
                          children: <Widget>[
                            TextField(

[2020-08-06 10:28] m00zi opened #65 "how to disable OK button until TextField length less than n"
Thanks for the effort you have done on this package, I am wondering how I can disable the OK button until the TextField length less than n ?

[2020-08-11 13:33] frederikw03 commented on #33
how did you fix this?

[2020-08-25 02:24] ariefsn opened #67 "Best way to use nested alert"
Hi,
I have a case like this.
There's an alert showed up, and then have a button that will trigger a new alert.
It's can show perfectly, my problem is when I need to close my nested alert with Navigation.pop(context) or Navigation.of(context).pop()
return an error Looking up a deactivated widget's ancestor is unsafe.

any solution?
Thanks

[2020-08-26 17:11] nxtien opened #68 "Close icon button"
When I clicked the Close icon (X) at the top-right corner of the alert, it issued the following error:

══╡ EXCEPTION CAUGHT BY GESTURE ╞═══════════════════════════════════════════════════════════════════
The following NoSuchMethodError was thrown while handling a gesture:
The method 'call' was called on null.
Receiver: null
Tried calling: call()

When the exception was thrown, this was the stack:

[2020-09-01 05:06] YouSour opened #69 "add borderRadius on ripple effect DailogButton"
hi , how can i add borderRadius to ripple effect on  DailogButton ?

![rflutter](https://user-images.githubusercontent.com/9318106/91796885-76ea7280-ec4b-11ea-9306-38ec5d7375f5.gif)

[2020-09-02 01:01] YouSour commented on #59
@asharayub50 have you customize border radius on DailogButton ripple effect ?

![rflutter](https://user-images.githubusercontent.com/9318106/91920122-56c1be80-ecf2-11ea-99e3-17b7104b6e2f.gif)

[2020-09-02 01:04] YouSour commented on #67
i got this problem too , i also need to know a better way to do it.

[2020-09-07 17:32] notTural commented on #68
You can get around the error by passing an empty function to the closeFunction field.
` Alert(
  closeFunction: () {},
  ...
)`

[2020-09-07 18:14] notTural commented on #61
You can get around the error by passing an empty function to the closeFunction field.
` Alert(
  closeFunction: () {},
  ...
)`

[2020-09-07 18:14] notTural commented on #56
You can get around the error by passing an empty function to the closeFunction field.
` Alert(
  closeFunction: () {},
  ...
)`

[2020-09-09 14:33] ibrahimdevs commented on #13
Agree with @robcunha , please look #47
I'm closing this.

[2020-09-09 14:33] #13 closed

[2020-09-10 11:07] ibrahimdevs commented on #15
@yossefEl can you try it with latest version -> 1.0.5
if error continues, please re-open this issue and share your alert code for test.

Thanks,

[2020-09-10 11:07] #15 closed

[2020-09-10 11:13] ibrahimdevs commented on #19
Hi @xumengqiang , translate your issue to english => How to adjust the global background shadow brightness?
Answer;
You can change overlaycolor with AlertStyle -> overlayColor. It takes Color variable with first two chars for transparency.

Example:
    var alertStyle = AlertStyle(
      //First to chars "55" represents transparency of color
      overlayColor: Color(0x55000000)
    );

    Alert(

[2020-09-10 11:13] #19 closed

[2020-09-10 11:19] ibrahimdevs commented on #20
Please try latest version 1.0.6 it should be fixed now.

[2020-09-10 11:19] #20 closed

[2020-09-10 11:31] ibrahimdevs commented on #21
@GanZhiXiong please follow this document: https://api.flutter.dev/flutter/widgets/StatefulBuilder-class.html

Direct solution: #47

[2020-09-10 11:31] #21 closed

[2020-09-10 11:32] ibrahimdevs commented on #47
@robcunha thanks for your explanation.

[2020-09-10 11:32] #47 closed

[2020-09-10 11:33] ibrahimdevs commented on #26
@Hauraky you can check #47 , it works.

[2020-09-10 11:33] #26 closed

[2020-09-10 11:33] ibrahimdevs commented on #23
@searchy2 thanks for your contribution. it merged now! V1.0.6

[2020-09-10 11:33] #23 closed

[2020-09-10 11:38] ibrahimdevs commented on #25
I think you are right @raindy29 , we shouldn't close popup when closeFunction provided. Will be updated on V1.0.7 today.

[2020-09-10 11:38] #25 closed

[2020-09-10 11:39] ibrahimdevs commented on #27
@mahmoudsalah37 i have no time to test for web, I will be very appreciate any help for web. For now, I can only focus on mobile, sorry.

[2020-09-10 11:39] #27 closed

[2020-09-10 11:41] ibrahimdevs commented on #28
@hiniesta thank you for using this project. Can you try @RafikFarhad solution again. it should be fixed on V1.0.6.

[2020-09-10 11:41] #28 closed

[2020-09-10 11:42] ibrahimdevs commented on #31
@valavanisleonidas and @jasonlaw it should be fixed in V1.0.6. Can you try again? Thanks,

[2020-09-10 11:42] #31 closed

[2020-09-10 12:21] ibrahimdevs commented on #32
@dungnv2602 you are right, we can change it to widget, and we changed it.
V1.0.7 will be ready today.

[2020-09-10 12:21] #32 closed

[2020-09-10 12:23] ibrahimdevs commented on #14
@yossefEl we added custom animation option, thanks for idea!
It is available with V1.0.6

Example:
//Custom animation alert
  _onCustomAnimationAlertPressed(context) {
    Alert(
      context: context,
      title: "RFLUTTER ALERT",
      desc: "Flutter is more awesome with RFlutter Alert.",
      alertAnimation: FadeAlertAnimation,
    ).show();
  }

  Widget FadeAlertAnimation(BuildContext cont

[2020-09-10 12:23] #14 closed

[2020-09-10 12:43] ibrahimdevs commented on #34
@lumenier1 thanks for your suggestion. Added "alertElevation" to AlertStyle so, it is possible to change elevation of dialog now.
Will be ready in V1.0.7 today.

[2020-09-10 12:43] #34 closed

[2020-09-10 12:47] ibrahimdevs commented on #35
@ABINASH56 @BoniWPy there are examples on Readme file, different color and even with gradient. You basically gives button widget to this alert plugin, so you can do anything on your button widget.

Also @gaoyong06 solution works too, thanks,

[2020-09-10 12:47] #35 closed

[2020-09-10 12:48] ibrahimdevs commented on #38
@SteamGorilla @mhmoudsabry great news! There is an option named "isButtonVisible" in alertStyle, you can set it to false and there is no button anymore. You should use V1.0.6

[2020-09-10 12:48] #38 closed

[2020-09-10 12:58] ibrahimdevs commented on #41
@kapilnarula i think you should set your own algorithm for this. Maybe you should define a variable for manage button's disable/enable case.

if you want to change disabled buttons color ext. then you should look to #47

[2020-09-10 12:58] #41 closed

[2020-09-10 12:59] ibrahimdevs commented on #44
@va0000ll thanks for your support!

[2020-09-10 12:59] #44 closed

[2020-09-10 13:00] ibrahimdevs commented on #45
@va0000ll  thanks again 👍  💯

[2020-09-10 13:00] #45 closed

[2020-09-10 13:01] ibrahimdevs commented on #46
@jasonlaw thanks!
I'm closing it now, if problem exists you can reopen with your alert code @RandersonThallys .

[2020-09-10 13:03] ibrahimdevs commented on #49
@HugoHeneault thanks!
it is fixed in V1.0.6 please try the latest version @alijaber99999

[2020-09-10 13:03] #49 closed

[2020-09-10 13:06] ibrahimdevs commented on #52
@amiltonsoares and @tareeko thanks for your suggestion.
@fonkamloic made it for us 💯  There is an option named "onWillPopActive" with V1.0.6

[2020-09-10 13:06] #52 closed

[2020-09-10 13:07] ibrahimdevs commented on #54
@PandaProgParis thanks for your collaboration. There are some new style options including text and description align with V1.0.6

[2020-09-10 13:07] #54 closed

[2020-09-10 13:08] ibrahimdevs commented on #56
@hassan1709 we fixed it in V1.0.6, please try the latest version.

[2020-09-10 13:11] ibrahimdevs commented on #57
@g-chandran can you try the latest version V1.0.6? It works well on my side. And on which platform are you trying?

[2020-09-10 13:14] ibrahimdevs commented on #58
@Spiderbezno you are giving this plugin directly button widgets, so you can do whatever you want with buttons.

Example:
[code]

[2020-09-10 13:14] #58 closed

[2020-09-10 13:16] ibrahimdevs commented on #59
@asharayub50 alert icons not shape, they all static images so you can't change their colors. But you can use your own images, there is an example on readme file.

@YouSour if you need help please open a new issue, we should keep as clean as possible here :)

[2020-09-10 13:16] #59 closed

[2020-09-10 13:18] ibrahimdevs commented on #61
@huseyinyildirimcom can you try the latest version V1.0.6? Thanks,

[2020-09-10 13:18] #61 closed

[2020-09-10 13:21] ibrahimdevs commented on #63
@FarsFuad there is "Dismiss function for this. You can call dismiss function with Timer.

Example:
[code]

[2020-09-10 13:21] #63 closed

[2020-09-10 13:48] ibrahimdevs commented on #64
@frederikw03 it gives error because can't calculate available space. So we can fix it with expanded widget.

Example:
[code]

[2020-09-10 13:48] #64 closed

[2020-09-10 13:53] ibrahimdevs commented on #67
@ariefsn can you try with latest version V1.0.6? It seems fixed now.

[2020-09-10 13:53] #67 closed

[2020-09-10 13:54] ibrahimdevs commented on #68
@nxtien it fixed in V1.0.6 , can you try the latest version V1.0.6?

[2020-09-10 13:54] #68 closed

[2020-09-10 14:36] ibrahimdevs commented on #69
@YouSour you can add highlightColor and splashColor paramaters to dialogButton, so if you give this params transparent color, there should be no ripple effect anymore.

Example:
[code]

[2020-09-10 14:41] ibrahimdevs commented on #65
@m00zi thanks for using this plugin. But your question more related with Flutter basics, so it is better to ask it on Stackoverflow.

Also, maybe this issues can help you: #47 and #41

[2020-09-10 14:41] #65 closed

[2020-09-13 03:12] reenolesigues opened #70 "Overflow occurs if the content widget have several nested widgets"
Details: If you add a long widget in the content (body), in the event the keyboard is on shown/focus and the alert is shown (with long content), it shows an overflow for a very brief moment only.

Proposal: On the implementation, maybe you can wrap the Center widget to a scroll-able (i.e. SingleChildScrollView - btw I tried wrapping my widget w/ this as well. but didn't work) one?

Thanks.

[2020-09-15 14:16] ibrahimdevs commented on #70
@reenolesigues thanks for issue and proposal.
Just published new version V1.1.0, AlertDialog wrapped with SingleChildScrollView now.
Can you try with latest version?

[2020-09-15 14:17] ibrahimdevs commented on #57
I'm closing this for now. @g-chandran if your problem still exists, please re-open it.

Thanks,

[2020-09-15 14:17] #57 closed

[2020-09-15 14:20] ibrahimdevs commented on #55
@yalva thanks for your suggestion, it should solve the issue. @AdelMahmoudHussein

I'm closing this issue for now, if problem still exist, please re-open it again.

[2020-09-15 14:20] #55 closed

[2020-09-15 14:24] ibrahimdevs commented on #48
@kartzhai , @dcarriola and @YouSour you want it, so we made it :)
There is an AlertStyle Parameter for Alert Alignment now. Please upgrade to V1.1.0

Example:
[code]

[2020-09-15 14:24] #48 closed

[2020-09-15 14:33] ibrahimdevs commented on #42
@michaelnguyen547 , @ulrichmabou , @baxterhemingway , @tengfone , @angrbrd hate this speech but i have to say: "It works on my machine" :)
Can you try the latest version V1.1.0 and be sure whitespaces issue which @doganozan mentioned?

[2020-09-16 07:11] khanna007 opened #71 "while running the code insetPadding is not working"

[2020-09-16 10:40] ibrahimdevs commented on #71
@khanna007 what is your code? What did you expect and get? Can you share detailed issue please?

Thanks,

[2020-09-16 11:13] khanna007 commented on #71
style: AlertStyle(
        animationDuration: Duration(milliseconds: 1000),
        isCloseButton: false,
        titleStyle: Style.textStyle_2,
        isOverlayTapDismiss: false,
      ),
This is my style code while compiling the code compilation error comes in this package
So i commented the code insetPadding from the package then it runs successfully

[2020-09-17 07:10] ibrahimdevs commented on #71
@khanna007 project example works without problem.
Can you test it with the latest version V1.1.0?

What is your error logs/ stack trace?

[2020-09-17 14:20] zakarianekal opened #72 "Can't use setState()"

[2020-09-18 00:55] stx commented on #31
@ibrahimdevs Not fixed in 1.1.0.

[2020-09-20 08:04] reenolesigues commented on #70
All working now!

Closing this issue.

[2020-09-20 08:04] #70 closed

[2020-09-22 20:48] ammon-lockwood commented on #42
It looks like the only way to get this to work correctly is to install from github? If I use the recommended `rflutter_alert: ^1.1.0` and `flutter pub get` then it installs the package, however, the package doesn't have any assets so no close image. Seems to me there is a bug in the build. Not sure why there is a difference between using github and not using it.

Also none of the documentation men

[2020-09-22 20:52] ammon-lockwood commented on #42
Seems as though killing (stopping) the app and starting again from scratch it worked without any errors about the close button.

[2020-09-23 16:05] Deepankar1993 opened #73 "Call without button!?"
Is it possible to call the alert without button?
As I wanted to get alert after api call on error or success
I am using provider.

[2020-09-25 07:54] YouSour opened #74 "Auto close"
hi , if i want alert auto close after 5 second , what should i do , i need the right way , can you show me how ?  🤔

[2020-09-28 01:16] YouSour commented on #74
found it 👍

[2020-09-28 01:16] #74 closed

[2020-10-06 21:09] johncerpa commented on #20
Thank you, this worked like I wanted

[2020-10-07 10:02] NassB opened #75 "Question about Buttons in Column"
First of all thanks for the recent update that fixed a problem in our production app.

You accepted my pull request [https://github.com/RatelHub/rflutter_alert/pull/40]() a month ago with buttons in Column support but it's seemed that this is not available in the latest release 1.1.0 I wanted to know if it was a mistake or if there is a problem with the functionality because I was using it. Let me

[2020-10-08 08:12] callmejm commented on #63
same situation , @ibrahimdevs myAlert.dismiss(); cannot work inside the `buttons:`

      var myalert = Alert(
        style: alertStyle,
        context: context,
        type: AlertType.none,
        title: "Opps !",
        desc: "Something Wrong",
        buttons: [
          DialogButton(
            radius: BorderRadius.circular(100.0),
            child: Text(
              "OK",

[2020-10-09 02:05] zafercuz commented on #42
Can confirm it works after killing (stopping) the app and starting again worked. Weird how it does not automatically detects the image once we put it in assets/images.

[2020-10-13 06:11] idc1407 opened #77 "How to return a string."
My requirement is return a string from Navigator.pop(context, 'success;);
but it is allowing only bool.
Is it possible to return a string.

Thank you very much
Ivan Dcosta

[2020-10-15 21:54] shaarifsabah opened #78 "Concatenation in Alert"
How can I concatenate a int variable in Alert.?

[2020-10-20 09:19] eliobou commented on #71
I have the same problem, the error log are
`Compiler message:
/C:/src/flutter/.pub-cache/hosted/pub.dartlang.org/rflutter_alert-1.1.0/lib/src/alert.dart:100:15: Error: No named parameter with the name 'insertPadding'.
              insertPadding: style.alertPadding,
              ^^^^^^^^^^^^^
/C:/src/flutter/packages/flutter/lib/src/material/dialog.dart:208:9: Context: Found this candidate, but t

[2020-10-20 09:33] khanna007 commented on #71
@eliobou Please use the latest version of this package I used this
@ibrahimdevs  you can close this issue it's working great.

[2020-10-20 09:41] eliobou commented on #71
I used the v1.1.0 wich I think is the latest version, you can see it in the error message.

[2020-10-28 19:43] vivekn4u opened #79 "Error: No named parameter with the nam e 'insetPadding'"
Does any one getting this compilation error?

/AppData/Roaming/Pub/Cache/hosted/pub.dartlang.org/rflutter_alert-1.1.0/lib/src/alert.dart:100:15: Error: No named parameter with the nam
e 'insetPadding'.

/flutter/packages/flutter/lib/src/material/dialog.dart:208:9: Context: Found this candidate, but the arguments don't match.
  const AlertDialog({
        ^^^^^^^^^^^

[2020-10-28 23:03] evanblasband opened #80 "QUESTION: Is there a way to know if an alert is showing?"
I am curious if there is a way to detect if an alert is showing? Like an `isShowing()` method or something? I currently display an alert when a bluetooth device connects but I want to check to see if any alerts are already showing and dismiss them before displaying it.  Any ideas are much appreciated

[2020-10-30 07:06] kamleshwebtech commented on #20
Not working in my case, please see my below code:

[code]

Please share your suggestion, if any. Thanks.

[2020-10-30 09:16] THTServe opened #81 "Unable to use package - Target of URI doesn't exist:"
Went to create an appbundle on an old app I was updating and noticed that rflutter_alert was flagging an issue.  Was working before with no changes to code.  Checked other apps and create a new app and tried to use the package all with the same error.

**_Target of URI doesn't exist: 'package:rflutter_alert/rflutter_alert.dart'.  Try creating the file referenced by the URI, or Try using a URI for

[2020-10-30 10:22] yingwei1025 commented on #72
You have to use StatefulBuilder() to wrap your alert content in order to make a dialog that can have changing contents

[https://api.flutter.dev/flutter/widgets/StatefulBuilder-class.html](url)

[2020-10-30 14:29] THTServe commented on #81
Removed and reinstalled AS but issues still remains.  Installed VSCode.  Issue gone.  Seems to be AS causing the issue.

[2020-10-30 14:29] #81 closed

[2020-10-30 14:29] THTServe commented on #81
closed as seems to be AS rather that Alert.

[2020-11-04 09:07] hadiabdullan commented on #71
i have the same isuue!!

[2020-11-07 10:04] marcoberetta96 opened #82 "Catch dismiss"
I would like to catch the event when I press outside the alert to close it.
Can I catch this event to execute some code?
Thanks!

[2020-11-24 14:52] NassB commented on #75
So I just saw the parameter 'buttonsDirection', so I am closing this issue.

[2020-11-24 14:52] #75 closed

[2020-12-01 03:02] feerazashaqif opened #83 "splashColor border radius"
splashColor border radius is fixed. Should be following DialogButton's border radius.

[2020-12-02 14:03] kadnan0900 opened #84 "i am facing this issue in IOS but in android it works fine."
![Screenshot 2020-12-02 at 6 57 00 PM (1)](https://user-images.githubusercontent.com/51955352/100882436-06b0ee80-34d1-11eb-8469-a3252ffcbce7.png)

[2020-12-02 20:48] cgzsistemas commented on #17
return value is null

[2020-12-07 21:58] AkbarBakhshi opened #85 "useRootNavigator hardcoded to true by default"
Is it possible to provide an option to set `useRootNavigator` to false? Looking at your source code, it seems like this feature is hardcoded to true. Some other packages will require `useRootNavigator` to be set to false and so I get an error when I use `Navigator.of(context).pop()` when I use this package with those.

[2020-12-19 18:38] AHoxha19 commented on #77
Got the same problem there. I need to return a custom object and can with this method. Please help!

[2020-12-23 04:23] spekary commented on #77
Here is an example of how you can return an integer. You use a future, and then call it with an await. You can modify to return whatever.

[code]

[2020-12-29 10:25] AHoxha19 commented on #77
It works perfect thanks for your answer. I still find it confusing to do it like this a better way would be to simply pass in navigator.pop method but maybe it will change the way they implemented behind. Anyway your code works thanks !

[2021-01-08 04:37] bobspeck commented on #77
Thank you Shannon.  Nice example.

[2021-01-16 12:49] alaabashiyi opened #86 "Unable to load asset:"
first of all thanks for this awesome package !! works great but having this weird issue,
When alert pop ups it throws this error in the console.

it could be something related to my project version but i just wanted to tell you guys because im not quite sure what is it.

Thanks

════════ Exception caught by image resource service ══════
The following assertion was thrown resolving an image codec:

[2021-01-16 12:58] alaabashiyi commented on #86
oh sorry i just noticed that my issue was duplicated !, closing this issue

[2021-01-16 12:58] #86 closed

[2021-01-18 15:49] slimaq007 commented on #79
yes I have

[2021-01-31 18:55] Prophet1702 opened #88 "context : context in Alert(); is throwing an error"
I'm new to Flutter . Any help is appreciated. Thanks in advance.
The error is : Undefined name 'context'.
Try correcting the name to one that is defined, or defining the name.
Here's my code :

[code]

[2021-02-03 00:17] nithin-seenivasan commented on #63
@callmejm use the following instead of myalert.dismiss(), That can't be called before myalert is declared.

`Navigator.of(context, rootNavigator: true).pop();`

[2021-02-22 10:02] ariefsn opened #91 "Customize Padding"
Hi,
is possible to customize padding inside the alert?

[2021-03-10 07:39] ibrahimdevs commented on #42
So I'm closing this issue.

[2021-03-10 07:39] #42 closed

[2021-03-10 07:50] ibrahimdevs commented on #71
I can't reproduce your issue. And also it is very weird that @eliobou error log says that there is  "insertPadding" at our alert.dart 100. line. But it is not, it is correctly "'insetPadding".

I think this issue is not related our plugin, I'm closing this issue.
@eliobou and @hadiabdullan you can try our latest version with clean your pub-cache first.

[2021-03-10 07:50] #71 closed

[2021-03-10 07:51] ibrahimdevs commented on #72
@yingwei1025 thanks for explaination. I'm closing this.

[2021-03-10 07:51] #72 closed

[2021-03-10 07:53] ibrahimdevs commented on #73
@Deepankar1993 yes it is possible, simply you can send buttons parameter as empty array. Here is the example:

[code]

[2021-03-10 07:53] #73 closed

[2021-03-10 07:54] ibrahimdevs commented on #77
@spekary thanks for great example. I'm closing this issue now.

[2021-03-10 07:54] #77 closed

[2021-03-10 07:56] ibrahimdevs commented on #78
@shaarifsabah sorry but I don't understand what you want to say. Can you explain it more? What do you want? What is your code? etc.

[2021-03-10 07:59] ibrahimdevs commented on #79
@vivekn4u and @slimaq007 can you try our plugin's example project? Is there any problem with example project?

[2021-03-10 08:08] ibrahimdevs commented on #80
@evanblasband I think this issue is not related our plugin. It is much more flutter and coding question which you should ask it on [stackoverflow](https://stackoverflow.com/).

I don't know your navigation structure but if you use rootNavigation, maybe you can call
`Navigator.of(context, rootNavigator: useRootNavigator).pop();`
before you display bluetooth device connection alert. So you can displ

[2021-03-10 08:08] #80 closed

[2021-03-10 08:14] ibrahimdevs commented on #82
@marcoberetta96 actually Alert's show function returns Future, so you can await that. For example:

[code]

[2021-03-10 08:14] #82 closed

[2021-03-10 08:16] ibrahimdevs commented on #83
@feerazashaqif what is splashColor? Can you provide example code, how looks now and how should looks?

[2021-03-10 08:20] ibrahimdevs commented on #84
@kadnan0900 it looks like you're providing wrong (single line) TextStyle for AlertStyle's descStyle.
If you need further help, can you share your alert code?

[2021-03-10 10:18] kadnan0900 commented on #84
@ibrahimdevs i found the solution. rflutter_alert worked fine but the problem was my font.Thanks

[2021-03-10 11:45] ibrahimdevs commented on #85
@gdhordain fix this issue, thanks again. You can use the latest version V2.0.2 , it is not hardcoded now.

[2021-03-10 11:48] ibrahimdevs commented on #91
@ariefsn you can check it from Alert with Style example. https://github.com/RatelHub/rflutter_alert#alert-with-style

Basically, you create your own AlertStyle and change it's alertPadding parameter.

[2021-03-10 11:48] #91 closed

[2021-03-10 11:50] ibrahimdevs commented on #84
It's great both you solve your problem and not related with rflutter_alert. Thanks for update @kadnan0900 , I'm closing this issue.

[2021-03-10 11:57] ibrahimdevs commented on #88
@Prophet1702  I think this issue is not related our plugin. It is much more flutter and coding question which you should ask it on [stackoverflow](https://stackoverflow.com/).

I try to help you anyway. You're calling "checkUserAnswer" function, when you cal it you have to provide current screen's context to display Alert. So you can change your
`void checkUserAnswer(bool userPickedAnswer)`
functi

[2021-03-10 11:57] #88 closed

[2021-03-12 23:54] lanzoninicola opened #92 ""require MaterialLocalizations to be provided by a Localizations widget ancestor.""
Dear maintainers,
I am using your package in my application, it is a simple application to test my knowledge during my training in Flutter. When I debug and run the application I got the message below in the console if I called the function that calls the show() function of the "Alert" class to show the dialog on the screen:

E/flutter (32499): [ERROR:flutter/lib/ui/ui_dart_state.cc(186)] Unhandle

[2021-03-24 14:34] developerflutter opened #93 "Multiple colors in background?"
How can I add multiple colors in background? One for title background and another for rest!

[2021-03-29 12:02] iulian0512 opened #94 "onDismiss/onClose event"
Hi, how can i run some code when the user clicks on the black background (the alert gets dismissed) and when the user clicks the close button ?

[2021-03-30 06:17] fabien79 opened #96 "Alert with Custom Image doesn't work"
I tried to setup an alert with custom image but it does work.
I used to copy/past example :
`Alert(
      context: context,
      title: "RFLUTTER ALERT",
      desc: "Flutter is better with RFlutter Alert.",
      image: Image.asset("assets/success.png"),
    ).show();`

with a link to my own image, but no image appeard.
Thanks

[2021-04-05 13:39] Coder-19 opened #98 "Open a new Alert box on clicking the ok button on the alert box"
Hello Sir,
I would like to know that is there any way in this package with which I can open a new alert box by clicking the ok button on the currently opened alert box.
Thank You,

[2021-04-08 03:59] fabien79 commented on #96
It does work for me, i don't understand.
Still does not load the custom image

[2021-04-08 04:00] fabien79 opened #99 "Load lottie animation instead of custom image"
Is it possible to load lottie animation instead of custom image  ?
Thanks

[2021-04-08 04:10] fabien79 commented on #96
ok perfect, thanks

[2021-04-09 09:06] ming-chu commented on #96
Oops. I submitted a PR for this. https://github.com/RatelHub/rflutter_alert/pull/101

[2021-05-12 07:59] waqadArshad opened #102 "Clicking the cancel button with Navigator.pop(context) closes my activity and not the AlertBox."
Clicking the default cancel button or custom OK button with Navigator.pop(context) closes my activity and not the AlertBox.

[2021-05-13 18:51] chriscdn commented on #102
Any chance you're using [get](https://pub.dev/packages/get)?  I have the same issue when using `get` to wrap my root widget.

[2021-05-20 18:19] danieeelfc commented on #102
@chriscdn This was the case here. I had an Obx( () => )  object from GetX surrounding a SafeArea widget. I had to remove and make another code changes to adapt, but now the AlertBox closes.

[2021-05-23 15:16] Cyberavater opened #104 "Unable to load asset: packages/rflutter_alert/assets/images/close.png"
[code]

[2021-05-23 15:25] Cyberavater commented on #104
Hmm, the issue goes away if I add this instead,

[code]

[2021-05-23 15:25] #104 closed

[2021-05-27 19:40] waqadArshad commented on #102
No, I didn't use get. I just simply put the Alert widget inside a a setState() method.

[2021-06-03 07:00] anggaaryas opened #106 "How to check if the alert is showing?"
like Dialog.isShowing();

my current solution is explicitly null the Alert before dismissing

[2021-06-03 07:08] anggaaryas commented on #102
maybe wrong context?

[2021-06-03 07:08] anggaaryas commented on #102
i am ok using GetX. try with Get.context

[2021-06-03 20:33] armandojimenez opened #107 "close button tapping size is really tiny"
Anyone having the same problem? I have to hit the close button multiple times to register a tap and close the alert

[2021-06-04 06:55] nileshbohra opened #108 "Custom Image doesn't show up"
[code]

[2021-06-12 21:31] dryasbk commented on #108
Custom Image doesn't show up
even I tried the example

[2021-06-14 15:11] shasank-periwal commented on #108
Yes, I tried that too
It didn't work
There's an issue with custom images.

[2021-06-15 09:41] LiveRock commented on #29
Any update on this?

[2021-06-15 21:09] armandojimenez commented on #12
Hi, this does not work for me, it still takes the content width and looks ugly on tablet

[2021-06-15 21:15] armandojimenez opened #110 "Constraints does not work"
When I use the constraints param, it does not take effect and it still takes the content width, looks weird on tablets

[2021-06-17 09:27] EduBarrio commented on #108
Yes, same error here.

The error is on:

[code]

as you can see the response is a new Container when AlertType is no defined.

[2021-06-17 16:05] JErazo7 commented on #108
Yes, i confirm this issue

[2021-06-25 20:06] armandojimenez commented on #110
Anyone know how to deal with this?

[2021-07-03 21:51] alihalabyah commented on #110
+1

[2021-07-03 22:04] alihalabyah commented on #12
+1

[2021-07-04 12:33] valentinschabschneider commented on #12
+1

[2021-07-06 14:21] nehal076 commented on #108
Facing the same issue

[2021-07-06 14:24] nehal076 opened #111 "Change title color"
Provide a way so that we are able to change the title color.

[2021-07-06 14:27] nehal076 commented on #111
Closing this because I found the style property

`style: AlertStyle(titleStyle: TextStyle(color: Colors.red)),`

[2021-07-06 14:27] #111 closed

[2021-07-14 06:48] chaochaox1990 commented on #108
add +1

[2021-07-30 15:31] AhsinIrshad opened #112 "On Back Pressed Alert Got Closed"
On back pressed alert got closed even if you set it not dismissable

[2021-07-30 19:10] AhsinIrshad commented on #112
Got onWillPop Option that was already there.

[2021-07-30 19:10] #112 closed

[2021-08-03 14:28] ibrahimdevs commented on #78
I'm closing this because of no response. You can reply here, if your problem continues.

[2021-08-03 14:28] #78 closed

[2021-08-03 14:28] ibrahimdevs commented on #79
I'm closing this because of no response. You can reply here, if your problem continues.

[2021-08-03 14:28] #79 closed

[2021-08-03 14:28] ibrahimdevs commented on #83
I'm closing this because of no response. You can reply here, if your problem continues.

[2021-08-03 14:28] #83 closed

[2021-08-03 14:57] ibrahimdevs commented on #96
Thanks for pull requests, it is fixed on V2.0.3.

[2021-08-03 14:57] #96 closed

[2021-08-03 14:59] ibrahimdevs commented on #102
@waqadArshad can you provide your full code for displaying and closing Alert Dialog?

[2021-08-03 15:02] ibrahimdevs commented on #106
Duplicate of #80 [QUESTION: Is there a way to know if an alert is showing?](https://github.com/RatelHub/rflutter_alert/issues/80)

[2021-08-03 15:02] #106 closed

[2021-08-03 15:05] ibrahimdevs commented on #108
Sorry for this basic mistake, it is fixed on V2.0.3. Thank you all for pull requests.

[2021-08-03 15:05] #108 closed

[2021-08-03 15:06] ibrahimdevs commented on #110
@armandojimenez can you share your constraints added code?

[2021-08-03 15:07] ibrahimdevs commented on #107
Is there anyone who thinks like that? If there are some others, we can make it bigger? :) @armandojimenez

[2021-08-03 15:15] ibrahimdevs commented on #99
@fabien79 image parameter is simply a widget. So you can pass lottie animation widget there. Can you try it? If you can accomplish this, it will be great to open pull request for adding an example.

[2021-08-03 15:15] #99 closed

[2021-08-03 15:25] ibrahimdevs commented on #92
@lanzoninicola you issue is not related to our plugin, but I try to help you.

Problem is your app that is not running in MaterailApp widget, to solve it, you can replace your main() method in main.dart like this:

[code]

[2021-08-03 15:25] #92 closed

[2021-08-03 15:28] ibrahimdevs commented on #98
@Coder-19 you can call alert show function inside another alert's button click. There is no restriction for this. Your problem is more related to programming than this plugin.

[2021-08-03 15:28] #98 closed

[2021-08-18 15:57] armandojimenez commented on #110
constraints: const BoxConstraints(maxWidth: 400),

Nothing I try works

[2021-08-31 12:07] iulian0512 opened #113 "How do i change the title and alert type after calling show() ?"
I have an use case where i show a "loading please wait" alert then when an error occurs i want to change the alert type to error and show the nice error icon and its title.
Having 2 successive alerts for that is too flickery and not so smooth.
Thanks.

[2021-09-06 10:54] githubusar opened #114 "no popup message"
when i reach the end of the list it is not showing a popup alert

the code:
import 'package:demo/quiz_brain.dart';
import 'package:flutter/material.dart';
import 'package:rflutter_alert/rflutter_alert.dart';

void main() {
  runApp(QuizApp());
}

class QuizApp extends StatefulWidget {
  const QuizApp({Key? key}) : super(key: key);

  @override
  _QuizAppState createState() => _QuizAppState();
}

L

[2021-09-11 03:34] mgcaguioa commented on #114
I'm having the same issue and I was able to fix it by wrapping the body of my `Scaffold` in a `Builder` and use the `BuildContext` on the `Alert` function.

Like this:
[code]

[2021-09-11 07:11] githubusar commented on #114
solved

[2021-09-11 07:11] #114 closed

[2021-09-12 11:25] himalayanZephyr commented on #79
Was getting the same error with version 1.1.0 (+ dart version 2.7.2). Did a _flutter upgrade_ and it worked!

[2021-10-13 07:38] AkhileshManda opened #115 "Add rate the app alert"
alert which asks u to rate the app (with stars) and asks for their experience would be a nice addition

[2021-10-23 14:31] mlitime opened #116 "issue when i added sound to the Alert"
1- when  I  Added Sound to the Alert and i should  stop it when user click on any Button  I cant
2-  when there is no action on Alert  in one minute how to dismis it automaticly ?? it not working

[2021-11-17 06:43] AsjadSiddiqui commented on #110
I was able to fix this by playing around with alertPadding in AlertStyle
BoxConstraints width parameters still don't work, but the alert was able to fit full device width.
You can control the width using alertPadding parameter in AlertStyle
[code]

[2021-11-17 07:02] AsjadSiddiqui commented on #102
Try:
`Navigator.of(context, rootNavigator: true).pop()`
instead

[2021-12-08 00:43] armandojimenez commented on #110
With this the dialog does not full expand to the content width?

[2021-12-08 00:44] armandojimenez commented on #110
The problem is with tablets, boxConstraints does not work for max height and width

[2021-12-10 12:08] chrislaurie-bs opened #118 "Show feedback - snackbar does not display"
I am using rflutter_alert as pop-up form. It works fine except I cannot seem to give the user feedback about validations. I cannot seem to get a snackbar to work or another dialog. I have tried with Getx snackbar and that does not gove an error but the snackbar does not display.

[2021-12-10 12:49] #118 closed

[2021-12-12 13:32] mstfkhazaal opened #119 "[BUG] SnackBar in the back"
I have an alert with a button when I press this button the SnackBar  appears behind an alert
I used a useRootNavigator(false) and it didn't work

[2021-12-16 21:31] armandojimenez commented on #110
Is this going to be worked on? Its easy reproducible, the constraint param does not work, add a long text to the description param and use a tablet, the dialog will extend the width of the text

[2021-12-16 21:34] armandojimenez commented on #110
![IMG_0002](https://user-images.githubusercontent.com/28992210/146452102-377d1da6-95f8-4e09-a84b-20c465f445eb.PNG)

Example, the dialog is taking the width of the string passed to desc param, also happens with the title.

my constrain code:
`constraints: const BoxConstraints(maxWidth: 400),`

Nothing works in terms of param.

[2022-01-07 08:07] wahyu-handayani commented on #20
That's really great solution, I have tried to search the solution anywhere and found it here. Thank you very much @SachinGanesh

[2022-01-15 10:42] MuhammadHassanRazaa opened #120 "add question type in Dialog Type"

[2022-01-18 01:51] madmouse17 opened #122 "How to disable snackbar back button?"
if alert show i can't disable snackbar back button...

[2022-01-18 02:29] #122 closed

[2022-01-19 17:29] Rafael-Santos-EM opened #123 "DialogButton's build method uses deprecated property"
"accentColor" is used as the button color when the color property isn't specified. The property was deprecated after Flutter v2.3.0-0.1.pre, so it should be swapped for "colorScheme.secondary".

[2022-01-20 11:16] W1lDC commented on #33
If you want to remove the cancelbutton just do the following:
buttons: []

[2022-01-26 13:20] GzuPark commented on #104
I have the same problem as this and solve the problem like above.
Thank you @Cyberavater

[2022-02-16 05:04] hryacosta opened #124 "add style titlePadding"

[2022-03-11 20:09] daniel-0318 commented on #102
for me work this code line, thanks you.

[2022-04-13 00:22] rickwillcox commented on #102
This worked for me as well. This should be added to the main page. Got stuck for an hour on this.

[2022-04-18 20:10] robertoltrocha commented on #110
Hi,

I have the same issue. BoxContrains is not working

[2022-04-20 04:51] EM-Sabeel commented on #102
It is worked for me as well

[2022-05-17 17:52] bermanapps opened #125 "Position the buttons vertically"
HI,
How can I position the buttons vertically, one on top of the other, and not next to each other?
Thanks!

[2022-05-23 07:08] felix0324324 commented on #113
same question

[2022-06-09 18:06] MateusProvensi commented on #29
Any update on this?

[2022-06-09 18:12] MateusProvensi commented on #29
You need to add `isOverlayTapDismiss: false` inside 'AlertStyle'.

[2022-06-29 14:13] ykiran commented on #125
You can set the _buttonsDirection_ property of **AlertStyle** to _ButtonsDirection.column_

[2022-07-08 09:04] SuYungCheng opened #126 "How to prevent Android System Back button to dismiss alert ?"
I want to keep the alert on the screen.

But when I touch android system back button ,

The  alert will be dismiss and I had tried to use WillPopScope to wrap the Scaffold body.

It's seems useless.

Please help me . Thanks

[2022-07-16 09:43] mkassir95 opened #127 "remove close button with removing all other buttons"
Hello,
I am trying to remove close button by adding` isButtonVisible: false` but this removes all other buttons in the dialog

[2022-07-16 09:44] #127 closed

[2022-07-16 10:06] mkassir95 opened #128 "Chnage the height and width of the Alert dialog"
Hello,
How to change the height and width of the Alert dialog?

[2022-07-16 12:35] #128 closed

[2022-08-11 18:26] bynalab commented on #126
@SuYungCheng I think there is a `onWillPopActive` parameter you can set to true for that.

[2022-08-11 18:28] bynalab commented on #113
@haliknihudas666 I guess you could pop and show the error alert.

[2022-08-26 20:51] inamaze44 opened #129 "elevation of DialogButtons"
Hi there!
Is there a way to set the elevation of the DialogButtons? Maybe with a trick?
Thank you very much,
Thorsten.

[2022-08-31 13:51] armandojimenez opened #130 "After updating to Flutter 3.3, texts looks pixelated and blurry on iOS"
After updating to Flutter 3.3, texts looks pixelated and blurry on iOS, anyone know how to fix this?

[2022-09-01 02:29] SuYungCheng commented on #126
thanks!

[2022-09-01 02:29] #126 closed

[2022-09-01 09:41] bynalab commented on #120
Hi @MuhammadHassanRazaa, I'm currently working on this.

[2022-09-01 09:43] MuhammadHassanRazaa commented on #120
okay, thanks

[2022-09-06 12:06] dhanukaperera opened #132 "AlertStyle alertPadding not working"
I am creating a custom alert with custom styling. I want to change the padding of the alert.  But the following code doesn't change the padding of the alert.

[code]

![Screenshot 2022-09-06 at 13 03 33](https://user-images.githubusercontent.com/13520855/188630947-ae653715-0be5-4ab4-abab-e0f1ba05bcc0.jpg)

[2022-10-04 09:30] Simarreta opened #133 "How can I add a list?"
I want to add a list of elements and choose one of them. I tried with the alertType, but is not working.
Anyone have an idea?

[2022-10-10 18:29] natebgurutech commented on #94
I know this is a rather old question, but you can
[code]

`null` is returned in the case of pressing the x or tapping outside the dialog

[2022-10-29 15:21] asavchuk opened #134 "Is titleTextAlign working?"
Is titleTextAlign property working? It seems that it's allways centered.
`    titleTextAlign: TextAlign.start, ` //it has no effect on the tittle